<% layout('../layout') -%>

<h2>
Hi <%= user.name %>,Create your path where you would like to get informed about traffic or congestion by other users.
</h2>
<div class="row">

<form class="form-horizontal" method="post" action="/add_location">


<input type="hidden" name="user[user_id]" value="<%= user.id%>" >
<div class="col-md-12">
  <!-- left section starts -->
    <div class="col-md-6">
    <p>START DESTINATION</p>
    <div class="form-group">
        <div class="col-xs-10">
            <input id="geocomplete_start" type="text" class="form-control" placeholder="Type in Start address" value="<%= user.formatted_address %>"  />
           <input id="find_start" type="button" class="btn btn-primary" value="find" />
        </div>
    </div>   


      <fieldset>
        <input name="lat_start" class="form-control" type="hidden" class="form-control" value="">
      
        <input name="lng_start"  class="form-control" type="hidden" class="form-control" value="">
      
        <input name="formatted_address_start" class="form-control" type="hidden" value="">
      </fieldset>

<div class="map_canvas_start" style="width:100%;height:400px;"></div>
</div><!-- col-md-6 ends -->
<!-- left section ends -->

<!-- right section starts -->
<div class="col-md-6">
<p>END DESTINATION</p>
     <div class="form-group">
        <div class="col-xs-10">
            <input id="geocomplete_end" type="text" class="form-control" placeholder="Type in Destination address" value="<%= user.formatted_address %>" />
           <input id="find_end" type="button" class="btn btn-primary" value="find" />
        </div>
    </div>   



      <fieldset>
        <input name="lat_end"  class="form-control" type="hidden" class="form-control" value="">
      
        <input name="lng_end"  class="form-control" type="hidden" class="form-control" value="">
      
        <input name="formatted_address_end" class="form-control" type="hidden" value="">
      </fieldset>




<div class="map_canvas_end" style="width:100%;height:400px;"></div>
</div><!-- col-md-6 ends -->
<!-- right section ends -->
</div><!-- col-md-12 ends -->
    <div class="col-md-12 well">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

</form>
</div><!--  row ends -->


<script type="text/javascript">
$(document).ready(function(){


var myLatlng = new google.maps.LatLng(<%- JSON.stringify(user.lat) %>,<%- JSON.stringify(user.lng) %>);
var options_start = {
  map: ".map_canvas_start",
  location: myLatlng,
  mapOptions: {
    streetViewControl: false,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  },
  markerOptions: {
    draggable: true
  }
};



var options_end = {
  map: ".map_canvas_end",
  location: myLatlng,
  mapOptions: {
    streetViewControl: false,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  },
  markerOptions: {
    draggable: true
  }
};

$("#geocomplete_start").geocomplete(options_start).bind("geocode:result", function(event, result){ 
      $("input[name=lat_start]").val(result.geometry.location.lat());
      $("input[name=lng_start]").val(result.geometry.location.lng());
      $("input[name=formatted_address_start]").val(result.formatted_address);
      var map = $("#geocomplete_start").geocomplete("map"),
///////////////////////This code should work now as expected-STARTS 
        marker = $("#geocomplete_start").geocomplete("marker");
          //there is only a single marker, use only a single infowindow
          if(!marker.get('infowindow')){
            marker.set('infowindow',new google.maps.InfoWindow());
            //commented to disable click handler and enable autoopen
            google.maps.event.addListener(marker, 'click', function() {
              this.get('infowindow').open(map,this);
            });
          }
          ////commented to disable click handler and enable autoopen
      //marker.get('infowindow').close();    
      map.setZoom(15);
      map.setCenter(result.geometry.location);
      marker.setMap(map);
      marker.get('infowindow').setContent('<div class="infowindow_places"><b><i>'+result.formatted_address+'</i></b></div>');
      //added to autoopen infowindow
      marker.get('infowindow').open(map, marker);
 
})//method ends


$("#geocomplete_end").geocomplete(options_end).bind("geocode:result", function(event, result){ 
      $("input[name=lat_end]").val(result.geometry.location.lat());
      $("input[name=lng_end]").val(result.geometry.location.lng());
      $("input[name=formatted_address_end]").val(result.formatted_address);
      var map = $("#geocomplete_end").geocomplete("map"),
///////////////////////This code should work now as expected-STARTS 
        marker = $("#geocomplete_end").geocomplete("marker");
          //there is only a single marker, use only a single infowindow
          if(!marker.get('infowindow')){
            marker.set('infowindow',new google.maps.InfoWindow());
            //commented to disable click handler and enable autoopen
            google.maps.event.addListener(marker, 'click', function() {
              this.get('infowindow').open(map,this);
            });
          }
          ////commented to disable click handler and enable autoopen
      //marker.get('infowindow').close();    
      map.setZoom(15);
      map.setCenter(result.geometry.location);
      marker.setMap(map);
      marker.get('infowindow').setContent('<div class="infowindow_places"><b><i>'+result.formatted_address+'</i></b></div>');
      //added to autoopen infowindow
      marker.get('infowindow').open(map, marker);
 
})//method ends
        
$("#geocomplete_start").bind("geocode:dragged", function(event, latLng){
  console.log('Dragged Lat start: '+latLng.lat());
  console.log('Dragged Lng start: '+latLng.lng());
   $("input[name=lat_start]").val(latLng.lat());
   $("input[name=lng_start]").val(latLng.lng());
  var map = $("#geocomplete_start").geocomplete("map");
    map.panTo(latLng);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latLng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0]) {
        //var road = results[0].address_components[1].long_name;
        //var town = results[0].address_components[2].long_name;
        //var county = results[0].address_components[3].long_name;
        //var country = results[0].address_components[4].long_name;
        //$("input[name=formatted_address_start]").val(road+' '+town+' '+county+' '+country);
        
         // $('#logs').html('<b>'+road+' '+town+' '+county+' '+country+'</b>');



      var map = $("#geocomplete_start").geocomplete("map"),
///////////////////////This code should work now as expected-STARTS 
        marker = $("#geocomplete_start").geocomplete("marker");
          //there is only a single marker, use only a single infowindow
          if(!marker.get('infowindow')){
            marker.set('infowindow',new google.maps.InfoWindow());
            //commented to disable click handler and enable autoopen
            google.maps.event.addListener(marker, 'click', function() {
              this.get('infowindow').open(map,this);
            });
          }
          ////commented to disable click handler and enable autoopen
      //marker.get('infowindow').close();    
      map.setZoom(15);
      map.setCenter(LatLng);
      marker.setMap(map);
      marker.get('infowindow').setContent('<div class="infowindow_places"><b><i>'+results[0].address_components[3].long_name+','+results[0].address_components[4].long_name+'</i></b></div>');
      //added to autoopen infowindow
      marker.get('infowindow').open(map, marker);

        
      }
    }
  });
});


$("#geocomplete_end").bind("geocode:dragged", function(event, latLng){
  console.log('Dragged Lat end: '+latLng.lat());
  console.log('Dragged Lng end: '+latLng.lng());
   $("input[name=lat_end]").val(latLng.lat());
   $("input[name=lng_end]").val(latLng.lng());
    var map = $("#geocomplete_end").geocomplete("map");
    map.panTo(latLng);
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'latLng': latLng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0]) {
        //var road = results[0].address_components[1].long_name;
        //var town = results[0].address_components[2].long_name;
        //var county = results[0].address_components[3].long_name;
       // var country = results[0].address_components[4].long_name;
        //$("input[name=formatted_address_end]").val(road+' '+town+' '+county+' '+country);
         // $('#logs').html('<b>'+road+' '+town+' '+county+' '+country+'</b>');


        
      }
    }
  });
});
        
        $("#find_start").click(function(){
          $("#geocomplete_start").trigger("geocode");
        }).click();

        
        $("#find_end").click(function(){
          $("#geocomplete_end").trigger("geocode");
        }).click();



      });//document ends
    </script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           